/* Grid of page */
.container {
    width: 98vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header header header "
        "menu menu menu menu "
        "content content content content "
        "footer footer footer footer ";
}

.footer-grid{
    grid-template-areas: none;
}

.header {
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: header;
    text-align: left;
    
}

.menu {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: red;
    grid-area: menu;
    text-align: center;
}

.content{
    width: 100%;
    height: 100%;
    background-color: white;
    grid-area: content;
    text-align: center;
}

.footer{
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: footer;
    text-align: center;
}

/* Grid of the content of main page */
.contents {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "title1 title2"
        "content1 content2"
        "image1 image2";
}
.title1 {
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: title1;
    text-align: center;
}
.title2 {
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: title2;
    text-align: center;
}
.content1 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content1;
    text-align: justify;
    border-right: 5px solid black;
}
.content2 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content2;
    text-align: justify;
}
.image1 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: image1;
    text-align: center;
}
.image2 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: image2;
    text-align: center;
}
.image1 img, .image2 img{
    margin: auto;
    width: 95%;
    height: 95%;
}
/* ========================================================================= */

/* Main Grid of Years page */
.container-years {
    width: 98vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header-years header-years header-years header-years"
        "menu-years menu-years menu-years menu-years"
        "content-years content-years content-years content-years "
        "footer-years footer-years footer-years footer-years";
}

.footer-grid{
    grid-template-areas: none;
}

.header-years {
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: header-years;
    text-align: left;
    
}

.menu-years {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: red;
    grid-area: menu-years;
    text-align: center;
}

.content-years {
    width: 100%;
    height: 100%;
    background-color: white;
    grid-area: content-years;
    text-align: center;
}

.footer-years {
    width: 100%;
    height: 100%;
    background-color: red;
    grid-area: footer-years;
    text-align: center;
}

/* Grid of the content of 2 years pages */
.contents-years {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "assign1 assign2"
        "content-assign1 content-assign2"
        "assign3 assign4"
        "content-assign3 content-assign4"
        "assign5 assign6"
        "content-assign5 content-assign6";
}
.assign1 {
    width: 100%;
    height: 100%;
    background-color: #e5212f;
    grid-area: assign1;
    text-align: center;
}
.content-assign1 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content-assign1;
    text-align: justify;
}
.assign2 {
    width: 100%;
    height: 100%;
    background-color: #d3af1b;
    grid-area: assign2;
    text-align: center;
}
.content-assign2 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content-assign2;
    text-align: justify;
}
.assign3 {
    width: 100%;
    height: 100%;
    background-color: #d3af1b;
    grid-area: assign3;
    text-align: center;
}
.content-assign3 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content-assign3;
    text-align: justify;
}
.assign4 {
    width: 100%;
    height: 100%;
    background-color: #e5212f;
    grid-area: assign4;
    text-align: center;
}
.content-assign4 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content-assign4;
    text-align: justify;
}
.assign5 {
    width: 100%;
    height: 100%;
    background-color: #e5212f;
    grid-area: assign5;
    text-align: center;
}
.content-assign5 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content-assign5;
    text-align: justify;
}
.assign6 {
    width: 100%;
    height: 100%;
    background-color: #d3af1b;
    grid-area: assign6;
    text-align: center;
}
.content-assign6 {
    width: 100%;
    height: 100%;
    background-color: wheat;
    grid-area: content-assign6;
    text-align: justify;
}